<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
    <style>
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #232323;
            color: #FFFFFF;
        }

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <div>
        <h1>404</h1>
        <p>Page not found!</p>
    </div>
</body>
</html>